#carthage bootstrap --platform iOS --no-use-binaries
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "Hearst-DD/ObjectMapper"
github "ninjaprox/NVActivityIndicatorView" "4.6.1"
github "realm/realm-cocoa"
github "tristanhimmelman/AlamofireObjectMapper" "5.2.0"
